@page
@model InstrumentWebAapplication.Pages.AcousticPianos.IndexModel

@{
    ViewData["Title"] = "Acoustic Pianos";
}

<h1>Acoustic Pianos</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcousticPiano[0].InTuneLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcousticPiano[0].HasPedal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcousticPiano[0].NumberOfKeys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcousticPiano[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcousticPiano[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AcousticPiano) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InTuneLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasPedal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfKeys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
