@page
@model InstrumentWebAapplication.Pages.DigitalPianos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DigitalPiano</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DigitalPiano.VolumeSetting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DigitalPiano.VolumeSetting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DigitalPiano.HasPedal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DigitalPiano.HasPedal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DigitalPiano.NumberOfKeys)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DigitalPiano.NumberOfKeys)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DigitalPiano.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DigitalPiano.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DigitalPiano.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DigitalPiano.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DigitalPiano.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
